{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "templateStrings": true,
        "forOf": true,
        "modules": true,
        "classes": true
    },
    "globals": {
        "__coverage__": false,
        "THREE": true
    },
    "rules": {
        "valid-jsdoc": [2, {
            "requireReturn": false
        }],
        dot-notation: 2,
        semi: [2, "always"]
    }
}
